/part03-Part03_23.PrintThrice/target/
/part03-Part03_24.IsItTrue/target/
/part03-Part03_25.Login/target/
/part03-Part03_26.LineByLine/target/
/part03-Part03_27.AVClub/target/
/part03-Part03_28.FirstWords/target/
/part03-Part03_30.AgeOfTheOldest/target/
/part03-Part03_31.NameOfTheOldest/target/
/part03-Part03_32.PersonalDetails/target/
/part04-Part04_01.YourFirstAccount/target/
/part04-Part04_02.YourFirstBankTransfer/target/
/part04-Part04_03.DogAttributes/target/
/part04-Part04_04.Room/target/
/part04-Part04_05.Whistle/target/
/part04-Part04_06.Door/target/
/part04-Part04_07.Product/target/
/part04-Part04_08.DecreasingCounter/target/
/part04-Part04_09.Debt/target/