/part03-Part03_23.PrintThrice/target/
/part03-Part03_24.IsItTrue/target/
/part03-Part03_25.Login/target/
/part03-Part03_26.LineByLine/target/
/part03-Part03_27.AVClub/target/
/part03-Part03_28.FirstWords/target/
/part03-Part03_30.AgeOfTheOldest/target/
/part03-Part03_31.NameOfTheOldest/target/
/part03-Part03_32.PersonalDetails/target/
/part04-Part04_01.YourFirstAccount/target/
/part04-Part04_02.YourFirstBankTransfer/target/
/part04-Part04_03.DogAttributes/target/
/part04-Part04_04.Room/target/
/part04-Part04_05.Whistle/target/
/part04-Part04_06.Door/target/
/part04-Part04_07.Product/target/
/part04-Part04_08.DecreasingCounter/target/
/part04-Part04_09.Debt/target/
/part04-Part04_10.Song/target/
/part04-Part04_11.Film/target/
/part04-Part04_12.Gauge/target/
/part04-Part04_13.Agent/target/
/part04-Part04_14.Multiplier/target/
/part04-Part04_15.NumberStatistics/target/
/part04-Part04_16.PaymentCard/target/
/part04-Part04_17.Items/target/
/part04-Part04_18.PersonalInformation/target/
/part04-Part04_19.TelevisionPrograms/target/
/part04-Part04_20.Books/target/
/part04-Part04_21.NumberOfStrings/target/
/part04-Part04_22.Cubes/target/
/part04-Part04_23.CreatingANewFile/target/
/part04-Part04_24.PrintingAFile/target/
/part04-Part04_25.PrintingASpecifiedFile/target/
/part04-Part04_26.GuestListFromAFile/target/
/part04-Part04_27.IsItInTheFile/target/
/part04-Part04_28.NumbersFromAFile/target/
/part04-Part04_29.RecordsFromAFile/target/
/part04-Part04_30.StoringRecords/target/
/part04-Part04_31.SportStatistics/target/
/part05-Part05_01.OneMinute/target/
/part05-Part05_02.Book/target/
/part05-Part05_03.Cube/target/
/part05-Part05_04.FitByte/target/
/part05-Part05_05.ConstructorOverload/target/
/part05-Part05_06.OverloadedCounter/target/
/part05-Part05_07.NullPointerException/target/
/part05-Part05_09.HealthStation/target/
/part05-Part05_10.CardPayments/target/
/part05-Part05_08.BiggestPetShop/target/
/part05-Part05_11.ComparingApartments/target/
/part05-Part05_12.Song/target/
/part05-Part05_13.IdenticalTwins/target/
/part05-Part05_14.Books/target/
/part05-Part05_15.Archive/target/